:: created by waf using data/wscript

set PYTHONPATH=%RUNASTER_ROOT%\lib\aster;%ASTER_ROOT%\lib\python3.7\site-packages;%RUNASTER_ROOT%\medcoupling\lib\python3.7\site-packages;%RUNASTER_ROOT%\med\lib\python3.7\site-packages;%PYTHONPATH%

set ASTER_DATADIR=%RUNASTER_ROOT%\share\aster
set ASTER_LIBDIR=%RUNASTER_ROOT%\lib\aster
set ASTER_LOCALEDIR=%RUNASTER_ROOT%\share\locale\aster
set ASTER_ELEMENTSDIR=%RUNASTER_ROOT%\lib\aster

set PATH=%RUNASTER_ROOT%\medcoupling\lib;%RUNASTER_ROOT%\medcoupling\lib\python3.7\site-packages;%RUNASTER_ROOT%\med\lib\python3.7\site-packages;%PATH%
